markdown-it-py==3.0.0
matplotlib==3.9.3
numpy==2.2.0
plotly-express==0.4.1
pywin32==307
referencing==0.35.1
requests==2.32.3
seaborn==0.13.2
setuptools==72.1.0
smmap==5.0.1
streamlit==1.41.1
XlsxWriter==3.2.0

